<launch>

  <arg name="description_name"      default="ocs2_anymal_croc_description"/>

  <!-- Load robot description -->
  <include file="$(find anymal_croc_rsl)/launch/load_urdf.launch">
    <arg name="description_name"                               value="$(arg description_name)"/>
  </include>

</launch>
