<launch>

  <arg name="robot_name"            default="camel"/>
  <arg name="description_name"      default="ocs2_anymal_camel_description"/>
  <arg name="output_folder"         default="$(find ocs2_anymal_models)/kindsl/$(arg robot_name)/"/>
  <arg name="verbose"               default="true"/>

  <!-- load description -->
  <include file="$(find ocs2_anymal_models)/launch/load_urdf.launch">
   <arg name="robot_name"       value="$(arg robot_name)" />
   <arg name="description_name" value="$(arg description_name)" />
  </include>

  <!-- run parser -->
  <include file="$(find urdf2robcogen)/launch/urdf2robcogen.launch">
   <arg name="description_name" value="$(arg description_name)" />
   <arg name="robot_name"       value="$(arg robot_name)" />
   <arg name="output_folder"    value="$(arg output_folder)" />
   <arg name="verbose"          value="$(arg verbose)" />
  </include>

</launch>