<launch>
  <arg name="test"        default="false"/>
  <arg name="rviz"        default="true"/>
  <arg name="rvizconfig"  default="$(find ocs2_mobile_manipulator_ros)/rviz/mobile_manipulator.rviz"/>
  <arg name="urdf_file"   default="$(find ocs2_robotic_assets)/resources/mobile_manipulator/urdf/mobile_manipulator.urdf"/>

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg urdf_file)"/>
  <param name="use_gui" value="true"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <node if="$(arg test)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rvizconfig)" output="screen" if="$(arg rviz)"/>
</launch>
