#
####### requirements.txt #######
#
###### Requirements without version specifiers ######
numpy
tensorboard
torch
#
###### Requirements with version specifiers ######
#
###### Refer to other requirements files ######
#