# OCS2 Intel-maintained repo default reviewers

# Default Reviewers:
*                          @RoboticsYY @baihe-liu @AnnikaWU

# code owner
/.docker                   @jzhao6x
/.github                   @jzhao6x
/ocs2_thirdpary            @xzhan34
/ocs2_msgs                 @sunausti
/ocs2_robotic_tools        @sunausti
/ocs2_core                 @xzhan34
