<launch>
    <arg name="rviz"       default="true" />
    <arg name="task_name"  default="mpc"/>

    <group if="$(arg rviz)">
      <include file="$(find ocs2_ballbot_example)/launch/visualize.launch"/>
    </group>

    <node pkg="ocs2_sqp" type="ballbot_sqp" name="ballbot_sqp"
          output="screen" args="$(arg task_name)" launch-prefix="gdb -ex run --args"/>

    <node pkg="ocs2_ballbot_example" type="ballbot_dummy_test" name="ballbot_dummy_test"
          output="screen" args="$(arg task_name)" launch-prefix="gnome-terminal --"/>

    <node if="$(arg rviz)" pkg="ocs2_ballbot_example" type="ballbot_target" name="ballbot_target"
          output="screen" args="$(arg task_name)" launch-prefix="gnome-terminal --"/>
</launch>
