CMakeFiles/
CMakeCache.txt
*.cmake
*.a
*.o
*.so
Makefile
.project
.idea/
.cproject
*~
*.settings*
*/doc/html/
Doxyfile
*.orig
*.tag
*.tmp
*.swp
__pycache__
*.pyc
ocs2_core/test/cppad_cg/testCppADCG_generated/
