CMakeFiles/
CMakeCache.txt
*.a
*.o
*.so
Makefile
.project
.idea/
.cproject
*~
*.settings*
*/doc/html/
Doxyfile
*.orig
*.tag
*.tmp
*.swp
__pycache__
*.pyc
*.pydevproject
ocs2_core/test/cppad_cg/testCppADCG_generated/
ocs2_ddp/test/ddp_test_generated/
*.aux
*.log
*.out
*.synctex.gz
.vscode/
runs/
