<launch>
    <arg name="rviz"       default="true" />
    <arg name="task_name"  default="mpc_augmented"/>

    <group if="$(arg rviz)">
      <include file="$(find xpp_anymal)/launch/xpp_anymal.launch"/>
    </group>

    <node pkg="ocs2_anymal_loopshaping" type="anymal_loopshaping_replaceInput_mpc_node" name="anymal_loopshaping_replaceInput_mpc_node"
          output="screen" args="$(arg task_name)" launch-prefix=""/>

    <node pkg="ocs2_anymal_loopshaping" type="anymal_loopshaping_replaceInput_dummy" name="anymal_loopshaping_replaceInput_dummy"
          output="screen" args="$(arg task_name)" launch-prefix="gnome-terminal -- "/>

    <node pkg="ocs2_anymal_interface" type="gait_command_node" name="gait_command_node"
          output="screen" args="mpc" launch-prefix="gnome-terminal --"/>

    <node pkg="ocs2_anymal_interface" type="target_command_node" name="target_command_node"
          output="screen" args="mpc" launch-prefix="gnome-terminal --"/>
</launch>