<launch>
    <arg name="rviz"       default="true" />
    <arg name="task_name"  default="mpc"/>

    <group if="$(arg rviz)">
      <include file="$(find ocs2_double_integrator_example)/launch/visualize.launch"/>
    </group>

    <node pkg="ocs2_double_integrator_example" type="double_integrator_mpc" name="double_integrator_mpc"
          output="screen" args="$(arg task_name)" launch-prefix="gnome-terminal -- gdb -ex run --args"/>

    <node pkg="ocs2_double_integrator_example" type="double_integrator_dummy_test" name="double_integrator_dummy_test"
          output="screen" args="$(arg task_name)" launch-prefix="gnome-terminal --"/>

    <node pkg="ocs2_double_integrator_example" type="double_integrator_target" name="double_integrator_target"
          output="screen" args="$(arg task_name)" launch-prefix="gnome-terminal --"/>
</launch>
