<?xml version="1.0"?>
<robot name="ballbot">


  <material name="grey">
      <color rgba="0.5 0.5 0.5 1.0"/>
  </material>
  <material name="blue">
    <color rgba="0.0 0.0 0.8 1.0"/>
  </material>


  <link name="base">
    <inertial>
      <origin xyz="0.003 0.0033 0.1956" rpy="0.0 0.0 0.0"/>
        <mass value="18.66"/>
        <inertia ixx="1.80" ixy="0.0" ixz="0.0" iyy="1.8037" iyz="0.0" izz="0.166703"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0.275" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://ocs2_ballbot_example/urdf/meshes/base.dae" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="grey"/>
    </visual>
  </link>

  <link name="ball">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <mass value="2.65"/>
      <inertia ixx="0.0166" ixy="0.0" ixz="0.0" iyy="0.0166" iyz="0.0" izz="0.0166"/>
    </inertial>
    <visual>
        <geometry>
          <sphere radius="0.125"/>
        </geometry>
        <material name="blue"/>
    </visual>
    <collision>
        <geometry>
          <sphere radius="0.125"/>
        </geometry>
    </collision>
  </link>

  <joint name="ballSuspension" type="spherical">
    <parent link="base"/>
    <child link="ball"/>
    <origin xyz="0 0 0"/>
  </joint>

</robot>

