<launch>

  <!-- Load robot description -->
  <include file="$(find ocs2_anymal_bear_description)/launch/load.launch" />

  <!-- visualizes goal, opt. parameters and cartesian base state, endeffector positions and forces -->
  <node name="rviz_marker_node" pkg="xpp_vis" type="rviz_marker_node" output="screen">
  </node>

  <!-- Launch rviz with specific configuration -->
  <node name="rviz_ocs2" pkg="rviz" type="rviz"  args="-d $(find ocs2_anymal_visualization)/config/config.rviz">
  </node>

  <!-- Publishes tf -->
  <node name="anymal_visualizer" pkg="ocs2_anymal_visualization" type="anymal_visualizer" output="screen">
  </node>

</launch>


