<launch>

  <arg name="description_name"      default="ocs2_anymal_bear_description"/>

  <!-- Load robot description -->
  <include file="$(find anymal_bear_rsl_description)/launch/load.launch">
    <arg name="simulation"                                     value="false"/>
    <arg name="description_name"                               value="$(arg description_name)"/>
    <arg name="velodyne"                                       value="false"/>
    <arg name="realsense"                                      value="true"/>
    <arg name="teleop_head"                                    value="false"/>
    <arg name="jetson"                                         value="false"/>
    <arg name="forward_facing_vi_sensor"                       value="false"/>
  </include>

</launch>