<launch>

  <arg name="description_name"      default="ocs2_anymal_bear_description"/>

  <!-- Load URDF from file -->
  <include file="$(find rosparam_tools)/launch/load_rosparam.launch">
    <arg name="parameter"       value="$(arg description_name)"/>
    <arg name="file"            value="$(find ocs2_anymal_bear_description)/urdf/cached_anymal_bear.urdf"/>
  </include>

</launch>