<launch>

  <include file="$(find ocs2_anymal_mpc)/launch/mpc.launch">
   <arg name="robot_name"           value="wheels_chimera"/>
   <arg name="config_name"          value="wheels"/>
   <arg name="target_command"       value="$(find ocs2_anymal_mpc)/config/wheels/targetCommand.info"/>
  </include>

  <!-- Wheels dummy tf publisher -->
  <node pkg="ocs2_anymal_mpc" type="ocs2_anymal_mpc_wheels_dummy_visualization_node" name="ocs2_anymal_mpc_wheels_dummy_visualization_node"/>

</launch>
