<launch>

  <arg name="description_name"      default="ocs2_anymal_wheels_description"/>

  <!-- Load robot description -->
  <include file="$(find anymal_wheels_description)/launch/load.launch">
    <arg name="description_name"                               value="$(arg description_name)"/>
  </include>

</launch>
