<launch>

  <arg name="urdfFile"          default="$(find ocs2_robotic_assets)/resources/anymal_c/urdf/anymal.urdf"/>
  <param name="urdfFile"          value="$(arg urdfFile)" />

  <!-- Launch rviz with specific configuration -->
  <node name="rviz_ocs2" pkg="rviz" type="rviz"  args="-d $(find ocs2_anymal_motion_tracking)/config/config.rviz"/>

  <!-- Load robot description -->
  <include file="$(find ocs2_anymal_models)/launch/load_urdf.launch">
      <arg name="robot_name"         value="camel"/>
      <arg name="description_name"   value="ocs2_anymal_description"/>
  </include>

  <!-- Launch node -->
  <node pkg="ocs2_anymal_motion_tracking" type="ocs2_anymal_motion_tracking_viz_node" name="ocs2_anymal_motion_tracking_viz_node"
          output="screen" args="" launch-prefix=""/>



</launch>
