<robot name="2-bar">
    <link name="base" />

    <link name="first">
        <inertial>
            <mass value="1" />
            <inertia ixx="0.00001" ixy="0.0" ixz="0.0" iyy="0.25" iyz="0.0" izz="0.25" />
        </inertial>
    </link>


    <joint name="base_first" type="fixed">
        <parent link="base" />
        <child link="first" />
        <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>

    <!-- <link name="second">
        <inertial>
            <mass value="1" />
            <inertia ixx="0.00001" ixy="0.0" ixz="0.0" iyy="0.25" iyz="0.0" izz="0.25" />
        </inertial>
    </link>

    <joint name="elbow" type="continuous">
        <parent link="first" />
        <child link="second" />
        <origin xyz="0.6 0 0" rpy="0 0 0" />
        <axis xyz="0 0 1" />
    </joint> -->

</robot>