<launch>
    <arg name="visualize"  default="true" />
    <arg name="task_name"  default="mpc"/>

    <group if="$(arg visualize)">
      <include file="$(find ocs2_double_slit_example)/launch/visualize.launch"/>
    </group>

    <node pkg="ocs2_double_slit_example" type="double_slit_pi" name="double_slit_pi"
          output="screen" args="$(arg task_name)" launch-prefix="gnome-terminal -- gdb -ex run --args"/>

    <node pkg="ocs2_double_slit_example" type="double_slit_dummy_test" name="double_slit_dummy_test"
          output="screen" args="$(arg task_name)" launch-prefix="gnome-terminal --"/>

</launch>
