<launch>
    <arg name="rviz"       default="true" />
    <arg name="task_name"  default="mpc"/>

    <group if="$(arg rviz)">
      <include file="$(find ocs2_ballbot_example)/launch/visualize.launch"/>
    </group>

    <node pkg="ocs2_ballbot_example" type="ballbot_mpc" name="ballbot_mpc"
          output="screen" args="$(arg task_name)" launch-prefix=""/>

    <node pkg="ocs2_ballbot_example" type="ballbot_dummy_test" name="ballbot_dummy_test"
          output="screen" args="$(arg task_name)" launch-prefix="gnome-terminal --"/>

    <node pkg="ocs2_ballbot_example" type="ballbot_target" name="ballbot_target"
          output="screen" args="$(arg task_name)" launch-prefix="gnome-terminal --"/>
</launch>
