<launch>
    <arg name="rviz"       default="true" />
    <arg name="task_name"  default="mpc"/>

    <group if="$(arg rviz)">
      <include file="$(find xpp_vis)/launch/xpp.launch"/>
    </group>

    <node pkg="ocs2_anymal_interface" type="anymal_mpc_node" name="anymal_mpc_node"
          output="screen" args="$(arg task_name)" launch-prefix="gnome-terminal -- "/>

    <node pkg="ocs2_anymal_interface" type="dummy_mrt_node" name="dummy_mrt_node"
          output="screen" args="$(arg task_name)" launch-prefix="gnome-terminal --"/>

    <node pkg="ocs2_anymal_interface" type="gait_command_node" name="gait_command_node"
          output="screen" args="$(arg task_name)" launch-prefix="gnome-terminal --"/>

    <node pkg="ocs2_anymal_interface" type="target_command_node" name="target_command_node"
          output="screen" args="$(arg task_name)" launch-prefix="gnome-terminal --"/>
</launch>