<launch>
    <arg name="rviz"       default="true"/>
    <arg name="task_name"  default="mpc"/>

    <group if="$(arg rviz)">
      <include file="$(find ocs2_ballbot_ros)/launch/visualize.launch"/>
    </group>

    <node pkg="ocs2_ballbot_ros" type="ballbot_mpc_mrt" name="ballbot_mpc_mrt"
          output="screen" args="$(arg task_name)" launch-prefix=""/>

    <node if="$(arg rviz)" pkg="ocs2_ballbot_ros" type="ballbot_target" name="ballbot_target"
          output="screen" args="$(arg task_name)" launch-prefix="gnome-terminal --"/>
</launch>
