<?xml version="1.0" ?>

<!-- adapted from Daniel Mellinger, Nathan Michael, Vijay Kumar, "Trajectory Generation and Control for Precise Aggressive Maneuvers with Quadrotors" -->

<robot name="quadrotor">
  <link name="base">
    <inertial>
      <mass value="0.5"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="0.0023" ixy="0.0" ixz="0.0" iyy="0.0023" iyz="0.0" izz="0.004"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="file://$(find ocs2_robotic_assets)/resources/quadrotor/meshes/quadrotor.obj" scale=".4 .4 .4"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder radius=".3" length=".1"/>
      </geometry>
    </collision>
  </link>
  <frame link="base_link" name="body" rpy="0 0 0" xyz="0 0 0" />
</robot>