<launch>

  <include file="$(find ocs2_mobile_manipulator)/launch/visualize.launch">
    <arg name="rvizconfig"  value="$(find ocs2_mobile_manipulator)/rviz/mobile_manipulator_distance.rviz"/>
  </include>

  <!-- Open joint_state_publisher for alma_c_description with GUI for debugging -->
  <node name="mobile_manipulator_joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" output="screen">
    <param name="rate"              value="100"/>
  </node>

  <node pkg="ocs2_mobile_manipulator" type="mobile_manipulator_distance_visualization" name="mobile_manipulator_distance_visualization"
          output="screen"/>


</launch>
