<launch>
    <arg name="rvizconfig"   default="$(find ocs2_quadrotor_ros)/rviz/quadrotor.rviz" />
    <arg name="model"        default="$(find ocs2_robotic_assets)/resources/quadrotor/urdf/quadrotor.urdf"/>

    <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />

    <node name="rviz" pkg="rviz" type="rviz" respawn="false" args="-d $(arg rvizconfig)"/>
</launch>
