name: Build and Test OCS2

on:
  push:
    branches: [ ros2 ]
  pull_request:
    branches: [ ros2 ]

jobs:
  build:

    # build both Debug and Release mode
    #strategy:
    #  fail-fast: false
    #  matrix:
    #    build_type: [Release]

    # environment: regular Ubuntu with a vanilla ROS container
    runs-on: [self-hosted, Linux, X64]
    container: ros:noetic

    steps:
    - name: Environment Info
      run: |
        pwd
        uname -r
        lsb_release -a

    - name: System deps
      shell: bash
      run: |
        apt-get update
        source /opt/ros/noetic/setup.bash
        DEBIAN_FRONTEND=noninteractive apt-get install keyboard-configuration --assume-yes
        apt-get install libglpk-dev -y
        apt-get install libmpfr-dev -y
        apt-get install python3-catkin-tools -y
        apt-get install ros-noetic-cv-bridge -y
        apt-get install git liburdfdom-dev liboctomap-dev libassimp-dev libeigen3-dev -y

    - uses: actions/checkout@v2
      with: 
        path: src/ocs2 

    - name: Checkout dependencies
      run: |
        if [ -d "src/pinocchio" ]; then
          echo "Cleaning up existing src/pinocchio directory..."
          rm -rf src/pinocchio
        fi
        git clone --recurse-submodules https://github.com/leggedrobotics/pinocchio.git src/pinocchio
        if [ -d "src/hpp-fcl" ]; then
          echo "Cleaning up existing src/hpp-fcl directory..."
          rm -rf src/hpp-fcl
        fi
        git clone --recurse-submodules https://github.com/leggedrobotics/hpp-fcl.git src/hpp-fcl
        if [ -d "src/ocs2_robotic_assets" ]; then
          echo "Cleaning up existing src/ocs2_robotic_assets directory..."
          rm -rf src/ocs2_robotic_assets
        fi
        git clone https://github.com/leggedrobotics/ocs2_robotic_assets.git src/ocs2_robotic_assets
        if [ -d "src/elevation_mapping_cupy" ]; then
          echo "Cleaning up existing src/evelation_cupy directory..."
          rm -rf src/elevation_mapping_cupy
        fi
        git clone https://github.com/leggedrobotics/elevation_mapping_cupy.git src/elevation_mapping_cupy
        if [ -d "src/grid_map" ]; then
          echo "Cleaning up existing src/grid_map directory..."
          rm -rf src/grid_map
        fi
        git clone https://github.com/ANYbotics/grid_map.git src/grid_map
        
    - name: Rosdep
      run: |
        rosdep update --rosdistro noetic
        rosdep install --from-paths src --ignore-src -r -y

    # - name: Install RaiSim
    #   run: |
    #     git clone --depth 1 https://github.com/raisimTech/raisimLib.git -b v1.1.01 src/raisim_tech
    #     cd src/raisim_tech
    #     mkdir build
    #     cd build
    #     cmake .. -DPYTHON_EXECUTABLE=$(python3 -c "import sys; print(sys.executable)")
    #     make -j4 && checkinstall
        
    # - name: Install ONNX Runtime
    #   run: |
    #     wget https://github.com/microsoft/onnxruntime/releases/download/v1.7.0/onnxruntime-linux-x64-1.7.0.tgz -P tmp/microsoft
    #     tar xf tmp/microsoft/onnxruntime-linux-x64-1.7.0.tgz -C tmp/microsoft
    #     rsync -a tmp/microsoft/onnxruntime-linux-x64-1.7.0/include/ /usr/local/include/onnxruntime
    #     rsync -a tmp/microsoft/onnxruntime-linux-x64-1.7.0/lib/ /usr/local/lib
    #     rsync -a src/ocs2/ocs2_mpcnet/ocs2_mpcnet_core/misc/onnxruntime/cmake/ /usr/local/share/onnxruntime

    - name: Build
      shell: bash
      run: |
        source /opt/ros/noetic/setup.bash
        catkin build -DCMAKE_BUILD_TYPE=Release 
        
    # - name: Test
    #   shell: bash
    #   run: |
    #     source devel_isolated/setup.bash
    #     catkin_make_isolated --use-ninja --merge --only-pkg-with-deps ocs2 --catkin-make-args run_tests
    #     catkin_test_results
