name: Build and Test OCS2

on:
  push:
    branches: [ ros2 ]
  pull_request:
    branches: [ ros2 ]

jobs:
  build:
    strategy:
      matrix:
        mujoco-version: [2.3.7]
    # environment: regular Ubuntu with a vanilla ROS container
    runs-on: [self-hosted, Linux, X64]
    # Registry the docker image to configure /etc/docker/daemon.json as:
    # {
    #   "insecure-registries": ["XXX.XXX.XXX.XXX:XXXX",
    #                           "ecgfiscbuildserver1.sh.intel.com:5000"]
    # }
    container: ecgfiscbuildserver1.sh.intel.com:5000/ros2_ocs2:latest

    steps:
    - name: Environment Info
      shell: bash
      run: |
        pwd
        uname -r
        lsb_release -a

    - name: System deps
      shell: bash
      run: |
        apt-get update
        source /opt/ros/humble/setup.bash

    - uses: actions/checkout@v4
      with: 
        path: src/ocs2 
        submodules: false
        
    - uses: actions/checkout@v4
      with:
        repository: intel-sandbox/ocs2_robotic_assets
        ref: ros2
        path: src/ocs2_robotic_assets
        token: ${{ secrets.GH_PAT }}

    - name: Rosdep
      shell: bash
      run: |
        rosdep update --rosdistro humble
        rosdep install --from-paths src --ignore-src -r -y

    - name: Build
      shell: bash
      run: |
        rm -fr build install log
        if [ -d "src/MujocoRosUtils" ]; then
          echo "Cleaning up existing src/MujocoRosUtils directory..."
          rm -rf src/MujocoRosUtils
        fi
        rm -fr mujoco-*
        source /opt/ros/humble/setup.bash
        colcon build --packages-skip mujoco_ros_utils --cmake-args -DCMAKE_BUILD_TYPE=Release 

    - name: Download MuJoCo
      shell: bash
      run: |
        wget https://github.com/deepmind/mujoco/releases/download/${{ matrix.mujoco-version }}/mujoco-${{ matrix.mujoco-version }}-linux-x86_64.tar.gz
        tar -zxvf mujoco-${{ matrix.mujoco-version }}-linux-x86_64.tar.gz
        rm -fr mujoco-${{ matrix.mujoco-version }}-linux-x86_64.tar.gz

    - name: Build MuJoCoRosUtil
      shell: bash
      run: |
        git clone --recurse-submodules https://github.com/isri-aist/MujocoRosUtils.git src/MujocoRosUtils
        rosdep install -y -r --from-paths src --ignore-src
        source /opt/ros/humble/setup.bash 
        colcon build --packages-select mujoco_ros_utils --cmake-args -DCMAKE_BUILD_TYPE=RelWithDebInfo -DMUJOCO_ROOT_DIR=${PWD}/mujoco-${{ matrix.mujoco-version }}
        
    - name: Test
      shell: bash
      run: |
        source install/setup.bash
        colcon test
        colcon test-result --all --verbose
