name: Build and Test OCS2

on:
  push:
    branches: [ ros2 ]
  pull_request:
    branches: [ ros2 ]

jobs:
  build:
    # environment: regular Ubuntu with a vanilla ROS container
    runs-on: [self-hosted, Linux, X64]
    # Registry the docker image to configure /etc/docker/daemon.json as:
    # {
    #   "insecure-registries": ["XXX.XXX.XXX.XXX:XXXX",
    #                           "ecgfiscbuildserver1.sh.intel.com:5000"]
    # }
    container: ecgfiscbuildserver1.sh.intel.com:5000/ros2_ocs2:latest

    steps:
    - name: Environment Info
      run: |
        pwd
        uname -r
        lsb_release -a

    - name: System deps
      shell: bash
      run: |
        apt-get update
        source /opt/ros/humble/setup.bash

    - uses: actions/checkout@v4
      with: 
        path: src/ocs2 
        submodules: false
        
    - uses: actions/checkout@v4
      with:
        repository: intel-sandbox/ocs2_robotic_assets
        ref: ros2
        path: src/ocs2_robotic_assets
        token: ${{ secrets.GH_PAT }}

    - name: Rosdep
      run: |
        rosdep update --rosdistro humble
        rosdep install --from-paths src --ignore-src -r -y

    - name: Build
      shell: bash
      run: |
        rm -fr build install log
        source /opt/ros/humble/setup.bash
        colcon build --cmake-args -DCMAKE_BUILD_TYPE=Release 
        
    - name: Test
      shell: bash
      run: |
        source install/setup.bash
        colcon test
        colcon test-result --all --verbose
