<launch>

  <arg name="rvizconfig" default="$(find ocs2_double_integrator_ros)/rviz/double_integrator.rviz" />
  <arg name="model"      default="$(find ocs2_robotic_assets)/resources/double_integrator/urdf/double_integrator.urdf"/>

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node pkg="rviz" type="rviz" name="double_integrator" args="-d $(arg rvizconfig)" output="screen"/>

</launch>
